<p id="notice"><%= notice %></p>

<h1>Users</h1>

<%= search_form_for @q do |f| %>
  <%= f.label :name_or_address, "Keyword" %>
  <%= f.search_field :name_or_address_cont %>　     <%# contは部分一致 %>

  <%= f.label :age %>
  <%= f.number_field :age_gteq %>以上〜  <%# gteqは入力した数字以上 %>
  <%= f.number_field :age_lt %>未満      <%# ltは入力した数字未満 %>

  <%= f.label :sex %>
  <%= f.radio_button :sex_eq, '', {:checked => true} %>指定なし   <%# eqは完全一致 %>
  <%= f.radio_button :sex_eq, 1 %>男性
  <%= f.radio_button :sex_eq, 2 %>女性

  <%= f.submit "検索" %>
<% end %>

<table>
  <thead>
    <tr>
      <th><%= sort_link(@q, :name, "Name") %></th>
      <th><%= sort_link(@q, :age, "Age") %></th>
      <th><%= sort_link(@q, :sex, "Sex") %></th>
      <th><%= sort_link(@q, :address, "Address") %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.age %></td>
        <td><%= user.sex %></td>
        <td><%= user.address %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %>
